* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #3a0ca3, #7209b7);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 500px;
}
.todo-box {
  background: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #3a0ca3;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 30px;
  outline: none;
}
button {
  padding: 10px 20px;
  background: #f72585;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  background: #d61e72;
}

ul {
  list-style: none;
  text-align: left;
}

li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li span {
  flex: 1;
  margin-left: 10px;
}

li.done span {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  color: #f44336;
  font-weight: bold;
  cursor: pointer;
}